#NewBudgetForm-background {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: var(--color-secondary3);
	opacity: 95%;
}
.hidden {
	visibility: hidden;
}

.NewBudgetForm {
	background: var(--color-primary);
	width: 30vw;
	height: 75vh;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	border-radius: 2rem;
	padding: 2rem;
	overflow-x: hidden;
}
.budgetSection.hidden {
	display: flex;
	position: absolute;
	flex-direction: column;
	column-gap: 1rem;
	row-gap: 1rem;
	background: var(--color-secondary3);
	width: 90%;
	height: 85%;
	right: 100%;
	margin-top: auto;
	top: 0;
	margin-bottom: auto;
	bottom: 0;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 5px 3px var(--gray-8);
	transition: all 1s;
}
.budgetSection.active {
	display: flex;
	position: absolute;
	flex-direction: column;
	column-gap: 1rem;
	row-gap: 1rem;
	background: var(--color-secondary3);
	width: 90%;
	height: 85%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	margin-top: auto;
	top: 0;
	margin-bottom: auto;
	bottom: 0;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 5px 3px var(--gray-8);
	transition: all 1s;
}
.budgetSection div {
	display: flex;
	justify-content: space-between;
	align-items: left;
}
.errorMessageDiv {
	display: flex;
	flex-direction: column;
}
.budgetSection div label {
	font-size: 20px;
	font-weight: 500;
	color: var(--white);
}
.budgetSection div input {
	border-radius: 0.5rem;
	height: 2rem;
	width: 10rem;
	border: none;
}
.incomeSection.active {
	display: flex;
	position: absolute;
	flex-direction: column;
	column-gap: 1rem;
	row-gap: 1rem;
	background: var(--color-secondary3);
	width: 90%;
	height: 85%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	margin-top: auto;
	top: 0;
	margin-bottom: auto;
	bottom: 0;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 5px 3px var(--gray-8);
	transition: all 1s;
}
.incomeSection.hidden {
	display: flex;
	position: absolute;
	flex-direction: column;
	column-gap: 1rem;
	row-gap: 1rem;
	background: var(--color-secondary3);
	width: 90%;
	height: 85%;
	left: 100%;
	margin-top: auto;
	top: 0;
	margin-bottom: auto;
	bottom: 0;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 5px 3px var(--gray-8);
	transition: all 1s;
}
.sources {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.sources div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 1;
}
.sources div p {
	margin: 0;
	padding: 0;
}
.sources div label {
	font-size: 20px;
	font-weight: 500;
	color: var(--color-secondary2);
}
.sources div input {
	border-radius: 0.5rem;
	height: 2rem;
	width: 10rem;
	border: none;
}
.sources div select option {
	border-radius: 0.5rem;
	height: 2rem;
	width: 10rem;
}
.test {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.test div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 1;
}
.inputs {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}
.inputs > div {
	background: var(--color-secondary1);
	padding: 2rem;
	border-radius: 0.5rem;
    box-shadow: 0 5px 2px var(--gray-4);
}
.test div p {
	margin: 0;
	padding: 0;
}
.test div label {
	font-size: 20px;
	font-weight: 500;
	color: var(--color-secondary2);
}
.test div input {
	border-radius: 0.5rem;
	height: 2rem;
	width: 10rem;
	border: none;
	margin: 0.5rem;
}
.test div select option {
	border-radius: 0.5rem;
	height: 2rem;
	width: 10rem;
}
.viewButtons {
	display: flex;
	justify-content: center;
	column-gap: 1rem;
}
.viewButtons button {
	font-size: 1.5rem;
	box-shadow: 0 3px 5px var(--gray-8);
	border-radius: 5px;
}
.viewButtons button:hover {
	font-size: 1.5rem;
	box-shadow: 0 5px 5px var(--gray-4);
	border-radius: 5px;
	background: var(--color-secondary2);
}
.plusButton p {
	font-size: 50px;
}
.categories {
	display: flex;
}
.progressTrackers {
	position: absolute;
	bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
	width: 5rem;
	justify-content: space-evenly;
}
.progressTracker {
	background: var(--color-secondary3);
	width: 1rem;
	height: 1rem;
	z-index: 999999;
	border-radius: 50%;
}
.progressTracker.active {
	background-color: var(--color-secondary1);
}
#category-select {
	border-radius: 0.5rem;
	padding: 0.5rem;
}
