.Navbar {
	position: sticky;
	top: 0;
}

.Navbar-header {
	background: var(--color-secondary3);
	display: flex;
	justify-content: space-around;
    height: 2rem;
}

.Navbar-link{
    color: var(--color-secondary1);
    text-decoration: none;
}